<%= form_with(model: meetings_list, local: true) do |form| %>
  <% if meetings_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meetings_list.errors.count, "error") %> prohibited this meetings_list from being saved:</h2>

      <ul>
        <% meetings_list.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :responsible %>
    <%= form.text_field :responsible %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
