<p id="notice"><%= notice %></p>

<h1>Meetings Lists</h1>

<table>
  <thead>
    <tr>
      <th>Meeting title</th>
      <th>Responsible</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meetings_lists.each do |meetings_list| %>
      <tr>
        <td><%= meetings_list.title %></td>
        <td><%= meetings_list.responsible %></td>
        <td><%= link_to 'Show', meetings_list %></td>
        <td><%= link_to 'Edit', edit_meetings_list_path(meetings_list) %></td>
        <td><%= link_to 'Destroy', meetings_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Meetings List', new_meetings_list_path %>
