<%= form_for [@meetings_list, @meetings_list.meetings_items.build] do |f| %>

<div>
    <%= f.label :date, "Enter date:" %>
    <%= f.date_field :date %>
</div>

<div>
    <%= f.label :amount_cents, "Enter the amount:" %>
    <%= f.text_field :amount_cents %>
</div>

<div>
    <%= f.label :reason, "Reason:" %>
    <%= f.text_field :reason %>
</div>


<div class="actions">
    <%= f.submit value: "New entry" %>
</div>

<% end %>

