<%= form_for [@meetings_list, @meetings_list.meetings_items.build] do |f| %>

<div>
    <%= f.label :date, "Enter date:" %>
    <%= f.date_field :date %>
</div>

<div>
    <%= f.label :amount, "Enter the amount:" %>
    <%= f.text_field :amount, data: {autonumeric: {aSign: 'USD ', mDec: 0}}%>
</div>

<div>
    <%= f.label :con_change, "Select an option:" %>
    <%= f.check_box :con_change, :data => { :size=>'small', 'on-color'=>'success', 'on-text'=>'YES', 'off-text'=>'NO' } %>
</div>

<div>
    <%= f.label :reason, "Reason:" %>
    <%= f.text_field :reason %>
</div>


<div class="actions">
    <%= f.submit value: "New entry" %>
</div>

<% end %>

