<%= form_for [@meetings_list, @meetings_list.meetings_items.build] do |f| %>

<div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="customSwitch1">
        <label class="custom-control-label" for="customSwitch1">
            Income/Expense
        </label>
</div>

<div>
    <%= f.label :date, "Enter date:" %>
    <%= f.date_field :date %>
</div>

<div>
    <%= f.label :amount, "Enter the amount:" %>
    <%= f.text_field :amount, data: {autonumeric: {aSign: 'USD ', mDec: 0}}%>
</div>

<div>
    <%= f.label :reason, "Reason:" %>
    <%= f.text_field :reason %>
</div>


<div class="actions">
    <%= f.submit value: "New entry" %>
</div>

<% end %>

