<!DOCTYPE html>
<html>

<head>
    <title>Spende App | <%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <header>
        <div class="container">
            <nav>
                <ul class="nav">
                    <% if user_signed_in? %>
                    <li>Logged in as: <strong><%= current_user.email %></strong>.</li>
                    <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
                    <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
                    <% else %>
                    <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
                    <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
                    <% end %>
                    <li><%= link_to "Help", '#' %></li>
                    <li><%= link_to "Contact", '#' %></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">

        <%= yield %>
    </div>
</body>

</html>